
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Classes vs. Procedures vs. Instruments &#8212; AutoProber 2.0 documentation</title>
    
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true,
        SOURCELINK_SUFFIX: '.txt'
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="Graphical User Interface" href="gui.html" />
    <link rel="prev" title="Stages Dictionary" href="../stages_dictionary.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head>
  <body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="classes-vs-procedures-vs-instruments">
<h1>Classes vs. Procedures vs. Instruments<a class="headerlink" href="#classes-vs-procedures-vs-instruments" title="Permalink to this headline">¶</a></h1>
<p>The Software is split into 3 main folders or parts: Classes, Procedures and Instrument Control Classes. These 3 folders can be found in the ProbeLib Folder that must reside in the root folder.</p>
<ul class="simple">
<li>Classes: The Classes folders contains all files that deliver core functionality to the software. All core functions are handled as objects, e.g. the GUI, the DataViewer, the plotter, the maître or the motor class.</li>
<li>Instruments: All measurement tools connected to the prober controller need to have a ‘python’ driver. The folder contains another folder for each supported device, usually named like <code class="docutils literal"><span class="pre">[Brand][ExactModel]</span></code>. Inside the model folder needs to be the python file containing the class for this model. Depending on the tools class (e.g. Laser, see classes above) the class needs to contain a subset of functions, e.g. for the Laser setwavelength, setpower, etc. Those can be checked in the UML file in the Documentation folder. Those standardization of function names allows any higher hierarchical function to act independent of the exactly connected device. For example, any lasers wavelength can be changed by: <code class="docutils literal"><span class="pre">Stages[‘MLaser’].setwavelength([NEW_WAVELENGTH])</span></code></li>
<li>Procedures: The procedure folder contains all files relating to higher hierarchical tasks like performing measurements, coordinating the movements of the stage, calibrating stages and chips. The functions are usually grouped in files by tasks, most important files are: Measure.py , Connecting.py. Most functionality extensions should be done in this folder by adding new files.</li>
</ul>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/logo.png" alt="Logo"/>
            </a></p><div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../../index.html">Documentation overview</a><ul>
      <li>Previous: <a href="../stages_dictionary.html" title="previous chapter">Stages Dictionary</a></li>
      <li>Next: <a href="gui.html" title="next chapter">Graphical User Interface</a></li>
  </ul></li>
</ul>
</div>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../_sources/source/components/components.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Go" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2017, Columbia Lightwave Research Laboratory.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.6.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.10</a>
      
      |
      <a href="../../_sources/source/components/components.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>