
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Maitre &#8212; AutoProber 2.0 documentation</title>
    
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true,
        SOURCELINK_SUFFIX: '.txt'
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="MeasureHandler" href="measure_handler.html" />
    <link rel="prev" title="Graphical User Interface" href="gui.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head>
  <body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="maitre">
<h1>Maitre<a class="headerlink" href="#maitre" title="Permalink to this headline">¶</a></h1>
<dl class="docutils">
<dt>The Maitre is an object that is initialized in the GUI constructor. It acts as handler for all functions inside the Procedure folder. At initialization the Maitre reads the <code class="docutils literal"><span class="pre">__init__.py</span></code> file in which all files, from here on called modules, need to be listed that are supposed to be available using the GUI. Afterwards the maitre imports all these modules and prepares:</dt>
<dd><ol class="first last loweralpha simple">
<li>the <code class="docutils literal"><span class="pre">mod_list</span></code> containing all modules</li>
<li>the 2 dimensional func_list containing all functions</li>
</ol>
</dd>
</dl>
<p>The Maitre ignores all functions that start with a ‘_’ to enable the developer to write sub routines not available in the GUI. The Maitre has the following functions:</p>
<ul class="simple">
<li><code class="docutils literal"><span class="pre">get_all_modules</span></code>: Returns a list of all module names</li>
<li><code class="docutils literal"><span class="pre">get_func_names(Mod_Index)</span></code>: Returns the names of all functions in the module defined by the mod_index. The index is defined by the position in the mod_list</li>
<li><code class="docutils literal"><span class="pre">get_func_params(Mod_Index,Func_Index)</span></code>: Returns the function parameters of a function.</li>
<li><code class="docutils literal"><span class="pre">execute_func(Mod_Index,Func_Index,</span> <span class="pre">Func_Params)</span></code>: executes a function based on indices</li>
<li><code class="docutils literal"><span class="pre">execute_func_name(Mod_Name,</span> <span class="pre">Func_Name,</span> <span class="pre">Func_Params)</span></code>: executes a function based on names</li>
<li><code class="docutils literal"><span class="pre">refresh()</span></code>: Recompiles and Reimports the entire Procedures folder. This functionality is very helpful for debugging the a new function.</li>
</ul>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/logo.png" alt="Logo"/>
            </a></p><div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../../index.html">Documentation overview</a><ul>
      <li>Previous: <a href="gui.html" title="previous chapter">Graphical User Interface</a></li>
      <li>Next: <a href="measure_handler.html" title="next chapter">MeasureHandler</a></li>
  </ul></li>
</ul>
</div>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../_sources/source/components/maitre.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Go" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2017, Columbia Lightwave Research Laboratory.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.6.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.10</a>
      
      |
      <a href="../../_sources/source/components/maitre.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>