
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Global Measure Handler &#8212; AutoProber 2.0 documentation</title>
    
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true,
        SOURCELINK_SUFFIX: '.txt'
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="Plotter" href="plotter.html" />
    <link rel="prev" title="Maitre" href="maitre.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head>
  <body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="global-measure-handler">
<h1>Global Measure Handler<a class="headerlink" href="#global-measure-handler" title="Permalink to this headline">¶</a></h1>
<p>The measure handler is the entity that controls and distributes access of the measurement instruments, such as dc multi-meters or optical power-meters, to the procedures or objects that require them. The handler takes away from the specific functions the responsibility to know exactly what instruments(models) they are dealing with. The functions will only need to provide the type of instrument they need and the measure handler will perform all the necessary work to find such an instrument.</p>
<dl class="docutils">
<dt><strong>Description</strong></dt>
<dd>The measure handler functionality is cleanly exposed by a single class called Global_MeasureHandler. The class utilizes a Singleton scheme so the same object will be accessed from anywhere in the code. The constructor only needs a reference to the Stages dictionary:</dd>
</dl>
<div class="highlight-python"><div class="highlight"><pre><span></span><span class="nd">@Singleton</span>        <span class="c1"># apply the Singleton decorator</span>
<span class="k">class</span> <span class="nc">Global_MeasureHandler</span><span class="p">(</span><span class="nb">object</span><span class="p">):</span>
    <span class="k">def</span> <span class="fm">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">Stages</span><span class="p">):</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">Instruments</span> <span class="o">=</span> <span class="p">{}</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">Stages</span> <span class="o">=</span> <span class="n">Stages</span>
</pre></div>
</div>
<dl class="docutils">
<dt>.</dt>
<dd><dl class="first docutils">
<dt>Internally the class keeps information about:</dt>
<dd><ul class="first last simple">
<li>All the instruments (and fibers) that were registered in the main configuration file</li>
<li>Which instruments are at any time owned by a user (eg. instance of ScriptController, GUI)</li>
<li>The triggering networks, meaning which instrument can trigger which other instrument, as defined in the configuration file</li>
</ul>
</dd>
<dt>… and provides functionality to control:</dt>
<dd><ul class="first last simple">
<li>The provision of instruments according to type</li>
<li>The serialization to instrument ownership</li>
<li>The interconnection of “owned” instruments through the <code class="docutils literal"><span class="pre">SwitchHandler</span></code></li>
</ul>
</dd>
</dl>
<p>The Global_MeasureHandler is a necessary and fundamental entity of the ProberControl framework and serves to optimally utilize the available instruments of a setup. It enables the correct parallelization of test recipe execution, keeping tally of available and used instruments and implementing a sophisticated internal locking scheme, which is necessary for thread safety.</p>
<p class="last">The class was originally to be used explicitly in the custom measurement functions defined by the test engineer, but is now also used internally in the software, for organization purposes.</p>
</dd>
<dt><strong>Interface</strong></dt>
<dd>The Global_MeasureHandler exposes a simplistic API that is intuitive and easy to use, while providing a full range of options for the test engineer writing the measurement functions. Below are the most important/useful methods:</dd>
<dt><code class="docutils literal"><span class="pre">get_instrument(specifiedDevice,</span> <span class="pre">additional=False)</span></code></dt>
<dd>Finds and returns an inactive instrument corresponding to the one specified. Returns None if such instrument was found/available.</dd>
<dt><code class="docutils literal"><span class="pre">get_instrument_triggered_by(triggerSource,</span> <span class="pre">specifiedDevice,</span> <span class="pre">additional=False)</span></code></dt>
<dd>Finds and returns an inactive instrument, corresponding to the one specified, that can be triggered by trigger_source instrument</dd>
<dt><code class="docutils literal"><span class="pre">get_instrument_triggering(triggerTarget,</span> <span class="pre">specifiedDevice,</span> <span class="pre">additional=False)</span></code></dt>
<dd>Finds and returns an inactive instrument, corresponding to the one specified, that can trigger trigger_source instrument</dd>
<dt><code class="docutils literal"><span class="pre">get_instrument_by_name(instrumentName)</span></code></dt>
<dd>Finds and returns the instrument with the specified name, used in the cases where a specific model in necessary</dd>
<dt><code class="docutils literal"><span class="pre">choose_fiber_in(self,</span> <span class="pre">fiber_id)</span></code></dt>
<dd>Returns a holder to the input fiber with id fiber_id (as specified in the configuration file)</dd>
<dt><code class="docutils literal"><span class="pre">choose_fiber_out(self,</span> <span class="pre">fiber_id)</span></code></dt>
<dd>Returns a holder to the output fiber with id fiber_id (as specified in the configuration file)</dd>
<dt><code class="docutils literal"><span class="pre">connect_instruments(self,</span> <span class="pre">transmitting_instrument,</span> <span class="pre">receiving_instrument)</span></code></dt>
<dd><blockquote class="first">
<div>Connects two instruments together (through the SwitchHandler)</div></blockquote>
<p class="last">The functions of the family get_instrument… and choose_fiber… listed above all return <strong>None</strong> if the instrument is not found or is already in use by a different user. In a multi-threaded environment, however, it makes sense for to wait for the instrument to become available before returning to the user. As such, the following blocking alternatives exist (denoted by the <strong>_w</strong> for “wait”):</p>
</dd>
</dl>
<div class="line-block">
<div class="line"><code class="docutils literal"><span class="pre">get_instrument_w(specifiedDevice,</span> <span class="pre">additional=False,</span> <span class="pre">timeout=0.0)</span></code></div>
<div class="line"><br /></div>
<div class="line"><code class="docutils literal"><span class="pre">get_instrument_triggered_by_w(triggerSource,</span> <span class="pre">specifiedDevice,</span> <span class="pre">additional=False,</span> <span class="pre">timeout=0.0)</span></code></div>
<div class="line"><br /></div>
<div class="line"><code class="docutils literal"><span class="pre">get_instrument_triggering_w(triggerTarget,</span> <span class="pre">specifiedDevice,</span> <span class="pre">additional=False,</span> <span class="pre">timeout=0.0)</span></code></div>
<div class="line"><br /></div>
<div class="line"><code class="docutils literal"><span class="pre">get_instrument_by_name_w(self,</span> <span class="pre">instrumentName,</span> <span class="pre">timeout=0.0)</span></code></div>
<div class="line"><br /></div>
<div class="line"><code class="docutils literal"><span class="pre">choose_fiber_in_w(self,</span> <span class="pre">fiber_id,</span> <span class="pre">timeout=0.0)</span></code></div>
<div class="line"><br /></div>
<div class="line"><code class="docutils literal"><span class="pre">choose_fiber_out_w(self,</span> <span class="pre">fiber_id,</span> <span class="pre">timeout=0.0)</span></code></div>
</div>
<blockquote>
<div>The functions above take the exact arguments as the respective non-blocking ones, plus an optional parameter <code class="docutils literal"><span class="pre">timeout</span></code> which determines how long to wait if the instrument is not available. A timeout of 0 means wait until it becomes available.</div></blockquote>
<dl class="docutils">
<dt><strong>Example</strong></dt>
<dd>Here is an examples which demonstrate the ease of use of the Global_MeasureHandler API for measurement functions:</dd>
</dl>
<div class="highlight-python"><div class="highlight"><pre><span></span><span class="k">def</span> <span class="nf">simpleConnectFiberTest</span><span class="p">():</span>
    <span class="n">gh</span> <span class="o">=</span> <span class="n">Global_MeasureHandler</span><span class="p">()</span>

    <span class="c1"># wait for laser</span>
    <span class="n">laser</span> <span class="o">=</span> <span class="n">gh</span><span class="o">.</span><span class="n">get_instrument_w</span><span class="p">(</span><span class="s1">&#39;Laser&#39;</span><span class="p">)</span>
    <span class="c1"># choose input fiber</span>
    <span class="n">fiber_in</span> <span class="o">=</span> <span class="n">gh</span><span class="o">.</span><span class="n">choose_fiber_in_w</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span>
    <span class="c1"># connect laser to fiber</span>
    <span class="n">gh</span><span class="o">.</span><span class="n">connect_instruments</span><span class="p">(</span><span class="n">laser</span><span class="p">,</span> <span class="n">fiber_in</span><span class="p">)</span>

    <span class="c1"># choose output fiber</span>
    <span class="n">fiber_out</span> <span class="o">=</span> <span class="n">gh</span><span class="o">.</span><span class="n">choose_fiber_out_w</span><span class="p">(</span><span class="mi">3</span><span class="p">)</span>
    <span class="c1"># wait for a powermeter</span>
    <span class="n">p_meter</span> <span class="o">=</span> <span class="n">gh</span><span class="o">.</span><span class="n">get_instrument_triggered_by_w</span><span class="p">(</span><span class="n">laser</span><span class="p">,</span> <span class="s1">&#39;PowerMeter&#39;</span><span class="p">)</span>
    <span class="c1"># connect fiber to powermeter</span>
    <span class="n">gh</span><span class="o">.</span><span class="n">connect_instruments</span><span class="p">(</span><span class="n">fiber_out</span><span class="p">,</span> <span class="n">p_meter</span><span class="p">)</span>

    <span class="c1"># make measurement</span>
    <span class="n">wavelength</span> <span class="o">=</span> <span class="mi">1550</span>
    <span class="n">laser</span><span class="o">.</span><span class="n">setwavelength</span><span class="p">(</span><span class="n">wavelength</span><span class="p">)</span>
    <span class="n">power</span> <span class="o">=</span> <span class="n">p_meter</span><span class="o">.</span><span class="n">get_power</span><span class="p">(</span><span class="n">wavelength</span><span class="p">)</span>
    <span class="k">print</span> <span class="n">power</span>
</pre></div>
</div>
<dl class="docutils">
<dt>.</dt>
<dd><p class="first">Here we use the blocking version of get_instrument and choose_fiber which means that if all lasers, power-meters and the specified fibers are in use, we will wait until some are available. We also demonstrate the use of the trigger-conscious functions. The powermeter selected will by triggerable by the laser.</p>
<p class="last">We can see how in 6 lines of code with Global_MeasureHandler we have acquired and connected together all the instruments we need to make an optical power measurement!</p>
</dd>
</dl>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/logo.png" alt="Logo"/>
            </a></p><div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../../index.html">Documentation overview</a><ul>
      <li>Previous: <a href="maitre.html" title="previous chapter">Maitre</a></li>
      <li>Next: <a href="plotter.html" title="next chapter">Plotter</a></li>
  </ul></li>
</ul>
</div>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../_sources/source/components/measure_handler.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Go" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2017, Columbia Lightwave Research Laboratory.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.6.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.10</a>
      
      |
      <a href="../../_sources/source/components/measure_handler.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>