
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Plotter &#8212; AutoProber 2.0 documentation</title>
    
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true,
        SOURCELINK_SUFFIX: '.txt'
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="ScriptBuilder GUI" href="scriptbuilder.html" />
    <link rel="prev" title="Global Measure Handler" href="measure_handler.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head>
  <body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="plotter">
<h1>Plotter<a class="headerlink" href="#plotter" title="Permalink to this headline">¶</a></h1>
<p>The plotter allows to print measurement results using <code class="docutils literal"><span class="pre">matplotlib.pyplot</span></code>. It provides the class NBPlot that is decorated as a singleton, which means that it will be only initialized once and new initializations will refer to already existing object. NBPlot has two functions:
* <code class="docutils literal"><span class="pre">plot(data,title,xaxis-title,yaxis-title)</span></code>: It allows plotting the measured data
* <code class="docutils literal"><span class="pre">set_clear(clear)</span></code>: if set clear receives a ‘1’ every new data received will clean the chart before plotting the data, if set clear receives a ‘0’ data is added to the already existing charts.</p>
<p>Matplotlib is not thread save in order to allow a function to plot data while running multiprocessing is used. Splitting a program under windows means to run the entire code again until the split. Therefore, the first command line in <code class="docutils literal"><span class="pre">ProberControl.py</span></code> is the first initialization of the <code class="docutils literal"><span class="pre">NBPlot()</span></code> that split the program and starts one instance of <code class="docutils literal"><span class="pre">ProcessPlotter()</span></code> as a daemon with a pipe in between those two objects. <code class="docutils literal"><span class="pre">rocessPlotter()</span></code> enters a ‘while 1’ loop in <code class="docutils literal"><span class="pre">__call__</span></code> constantly checking whether new data is ready in the pipe.</p>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/logo.png" alt="Logo"/>
            </a></p><div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../../index.html">Documentation overview</a><ul>
      <li>Previous: <a href="measure_handler.html" title="previous chapter">Global Measure Handler</a></li>
      <li>Next: <a href="scriptbuilder.html" title="next chapter">ScriptBuilder GUI</a></li>
  </ul></li>
</ul>
</div>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../_sources/source/components/plotter.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Go" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2017, Columbia Lightwave Research Laboratory.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.6.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.10</a>
      
      |
      <a href="../../_sources/source/components/plotter.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>