
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>procedures package &#8212; AutoProber 2.0 documentation</title>
    
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true,
        SOURCELINK_SUFFIX: '.txt'
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head>
  <body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="procedures-package">
<h1>procedures package<a class="headerlink" href="#procedures-package" title="Permalink to this headline">¶</a></h1>
<div class="section" id="submodules">
<h2>Submodules<a class="headerlink" href="#submodules" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="module-procedures.Binning">
<span id="procedures-binning-module"></span><h2>procedures.Binning module<a class="headerlink" href="#module-procedures.Binning" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="procedures-measure-module">
<h2>procedures.Measure module<a class="headerlink" href="#procedures-measure-module" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="module-procedures.Post_Processing">
<span id="procedures-post-processing-module"></span><h2>procedures.Post_Processing module<a class="headerlink" href="#module-procedures.Post_Processing" title="Permalink to this headline">¶</a></h2>
<dl class="function">
<dt id="procedures.Post_Processing.All_Ring_Res">
<code class="descclassname">procedures.Post_Processing.</code><code class="descname">All_Ring_Res</code><span class="sig-paren">(</span><em>data</em>, <em>dist_btwn_same_res=0.75</em>, <em>steps_per_nm=100</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/Post_Processing.html#All_Ring_Res"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.Post_Processing.All_Ring_Res" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="procedures.Post_Processing.Comp_Res">
<code class="descclassname">procedures.Post_Processing.</code><code class="descname">Comp_Res</code><span class="sig-paren">(</span><em>new_data</em>, <em>ref_data</em>, <em>dist_btwn_same_res</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/Post_Processing.html#Comp_Res"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.Post_Processing.Comp_Res" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="procedures.Post_Processing.Find_ER_and_FWHM">
<code class="descclassname">procedures.Post_Processing.</code><code class="descname">Find_ER_and_FWHM</code><span class="sig-paren">(</span><em>filtered_res_list</em>, <em>file</em>, <em>steps_per_nm</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/Post_Processing.html#Find_ER_and_FWHM"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.Post_Processing.Find_ER_and_FWHM" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="procedures.Post_Processing.Find_Res">
<code class="descclassname">procedures.Post_Processing.</code><code class="descname">Find_Res</code><span class="sig-paren">(</span><em>file</em>, <em>transmission=True</em>, <em>n=100</em>, <em>confidence=5</em>, <em>confidence_high=5.5</em>, <em>dist_btwn_res=0.75</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/Post_Processing.html#Find_Res"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.Post_Processing.Find_Res" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="procedures.Post_Processing.Find_Resonance">
<code class="descclassname">procedures.Post_Processing.</code><code class="descname">Find_Resonance</code><span class="sig-paren">(</span><em>stages</em>, <em>maitre</em>, <em>file</em>, <em>low</em>, <em>high</em>, <em>step_size</em>, <em>baseline=‘0’</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/Post_Processing.html#Find_Resonance"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.Post_Processing.Find_Resonance" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="procedures.Post_Processing.combine">
<code class="descclassname">procedures.Post_Processing.</code><code class="descname">combine</code><span class="sig-paren">(</span><em>prefix</em>, <em>values</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/Post_Processing.html#combine"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.Post_Processing.combine" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="procedures.Post_Processing.main">
<code class="descclassname">procedures.Post_Processing.</code><code class="descname">main</code><span class="sig-paren">(</span><em>argv</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/Post_Processing.html#main"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.Post_Processing.main" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="procedures.Post_Processing.normalize">
<code class="descclassname">procedures.Post_Processing.</code><code class="descname">normalize</code><span class="sig-paren">(</span><em>data</em>, <em>baseline</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/Post_Processing.html#normalize"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.Post_Processing.normalize" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="procedures.Post_Processing.set_clear_plot">
<code class="descclassname">procedures.Post_Processing.</code><code class="descname">set_clear_plot</code><span class="sig-paren">(</span><em>clear</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/Post_Processing.html#set_clear_plot"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.Post_Processing.set_clear_plot" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="procedures.Post_Processing.split">
<code class="descclassname">procedures.Post_Processing.</code><code class="descname">split</code><span class="sig-paren">(</span><em>data</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/Post_Processing.html#split"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.Post_Processing.split" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

</div>
<div class="section" id="procedures-connecting-module">
<h2>procedures.connecting module<a class="headerlink" href="#procedures-connecting-module" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="procedures-fine-allign-module">
<h2>procedures.fine_allign module<a class="headerlink" href="#procedures-fine-allign-module" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="procedures-random-module">
<h2>procedures.random module<a class="headerlink" href="#procedures-random-module" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="procedures-randomwalk-module">
<h2>procedures.randomWalk module<a class="headerlink" href="#procedures-randomwalk-module" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="module-procedures.raster">
<span id="procedures-raster-module"></span><h2>procedures.raster module<a class="headerlink" href="#module-procedures.raster" title="Permalink to this headline">¶</a></h2>
<dl class="function">
<dt id="procedures.raster.cross_scan">
<code class="descclassname">procedures.raster.</code><code class="descname">cross_scan</code><span class="sig-paren">(</span><em>xyz</em>, <em>p_meter</em>, <em>size</em>, <em>step</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/raster.html#cross_scan"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.raster.cross_scan" title="Permalink to this definition">¶</a></dt>
<dd><p>Performs a separate scan on each axis of length size*step.
Should be used after the fiber has been somewhat alligned</p>
<p>xyz (XYZ_Stage)
p_meter (Power Meter) Power meter instance
size (int): the number of data point to take
step (int): the step size</p>
<p>retruns [y_axis_data, x_axis_data]</p>
</dd></dl>

<dl class="function">
<dt id="procedures.raster.cross_scan_d">
<code class="descclassname">procedures.raster.</code><code class="descname">cross_scan_d</code><span class="sig-paren">(</span><em>stages</em>, <em>target</em>, <em>size</em>, <em>step</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/raster.html#cross_scan_d"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.raster.cross_scan_d" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="procedures.raster.generate_map">
<code class="descclassname">procedures.raster.</code><code class="descname">generate_map</code><span class="sig-paren">(</span><em>xyz</em>, <em>p_meter</em>, <em>size</em>, <em>step</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/raster.html#generate_map"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.raster.generate_map" title="Permalink to this definition">¶</a></dt>
<dd><p>generates a map 3d map representing how much light is coupled
over a specified region (size x step)</p>
<p>xyz (XYZ_Stage)
p_meter (Power Meter) - instance
size (2-tuple): the dimension of the region scanned
step (int): the step size</p>
<dl class="docutils">
<dt>returns a 2 dimensional list following the convention:</dt>
<dd>returned_map[3][10] = the “power”(actually voltage for now) at point (3,10)</dd>
</dl>
</dd></dl>

<dl class="function">
<dt id="procedures.raster.generate_map_d">
<code class="descclassname">procedures.raster.</code><code class="descname">generate_map_d</code><span class="sig-paren">(</span><em>stages</em>, <em>target</em>, <em>size</em>, <em>step</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/raster.html#generate_map_d"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.raster.generate_map_d" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="procedures.raster.make_map">
<code class="descclassname">procedures.raster.</code><code class="descname">make_map</code><span class="sig-paren">(</span><em>stages</em>, <em>fiber</em>, <em>size_x</em>, <em>size_y</em>, <em>step</em>, <em>filename</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/raster.html#make_map"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.raster.make_map" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="procedures.raster.map_image">
<code class="descclassname">procedures.raster.</code><code class="descname">map_image</code><span class="sig-paren">(</span><em>c_map</em>, <em>im_size</em>, <em>full_path=None</em>, <em>show=False</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/raster.html#map_image"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.raster.map_image" title="Permalink to this definition">¶</a></dt>
<dd><p>Takes a map returned from genearte_map() and visualizes it</p>
<p>c_map (2d-list): map from generate_map()
im_size(2-tuple): the dimensions of the produced image</p>
</dd></dl>

<dl class="function">
<dt id="procedures.raster.optimal_point">
<code class="descclassname">procedures.raster.</code><code class="descname">optimal_point</code><span class="sig-paren">(</span><em>c_map</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/raster.html#optimal_point"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.raster.optimal_point" title="Permalink to this definition">¶</a></dt>
<dd><p>find the point of highest voltage in map scanned by genearte_map()</p>
<p>c_map (2d-list): map from generate_map()</p>
<dl class="docutils">
<dt>returns list containing:</dt>
<dd>2-tuple (x,y) containing the coordinates of the optimal point
the voltage on the optimal point</dd>
</dl>
</dd></dl>

</div>
<div class="section" id="module-procedures.vision">
<span id="procedures-vision-module"></span><h2>procedures.vision module<a class="headerlink" href="#module-procedures.vision" title="Permalink to this headline">¶</a></h2>
<dl class="function">
<dt id="procedures.vision.calibrateProbe">
<code class="descclassname">procedures.vision.</code><code class="descname">calibrateProbe</code><span class="sig-paren">(</span><em>Stages</em>, <em>calibrating_stage</em>, <em>video</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/vision.html#calibrateProbe"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.vision.calibrateProbe" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="procedures.vision.setChipAngle">
<code class="descclassname">procedures.vision.</code><code class="descname">setChipAngle</code><span class="sig-paren">(</span><em>stages</em>, <em>video</em>, <em>chip</em>, <em>desired_angle</em>, <em>res=0.1</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/vision.html#setChipAngle"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.vision.setChipAngle" title="Permalink to this definition">¶</a></dt>
<dd><p>Set angle of chip edge as seen by video feed using chip stage</p>
</dd></dl>

<dl class="function">
<dt id="procedures.vision.setEWOffset">
<code class="descclassname">procedures.vision.</code><code class="descname">setEWOffset</code><span class="sig-paren">(</span><em>stages</em>, <em>video</em>, <em>chip_stage</em>, <em>res=0.1</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/vision.html#setEWOffset"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.vision.setEWOffset" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="procedures.vision.setNSOffset">
<code class="descclassname">procedures.vision.</code><code class="descname">setNSOffset</code><span class="sig-paren">(</span><em>stages</em>, <em>video</em>, <em>chip_stage</em>, <em>desired_offset</em>, <em>res=0.1</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/procedures/vision.html#setNSOffset"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#procedures.vision.setNSOffset" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

</div>
<div class="section" id="module-contents">
<h2>Module contents<a class="headerlink" href="#module-contents" title="Permalink to this headline">¶</a></h2>
<span class="target" id="module-procedures"></span></div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/logo.png" alt="Logo"/>
            </a></p>
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">procedures package</a><ul>
<li><a class="reference internal" href="#submodules">Submodules</a></li>
<li><a class="reference internal" href="#module-procedures.Binning">procedures.Binning module</a></li>
<li><a class="reference internal" href="#procedures-measure-module">procedures.Measure module</a></li>
<li><a class="reference internal" href="#module-procedures.Post_Processing">procedures.Post_Processing module</a></li>
<li><a class="reference internal" href="#procedures-connecting-module">procedures.connecting module</a></li>
<li><a class="reference internal" href="#procedures-fine-allign-module">procedures.fine_allign module</a></li>
<li><a class="reference internal" href="#procedures-random-module">procedures.random module</a></li>
<li><a class="reference internal" href="#procedures-randomwalk-module">procedures.randomWalk module</a></li>
<li><a class="reference internal" href="#module-procedures.raster">procedures.raster module</a></li>
<li><a class="reference internal" href="#module-procedures.vision">procedures.vision module</a></li>
<li><a class="reference internal" href="#module-contents">Module contents</a></li>
</ul>
</li>
</ul>
<div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../../index.html">Documentation overview</a><ul>
  </ul></li>
</ul>
</div>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../_sources/source/components/procedures.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Go" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2017, Columbia Lightwave Research Laboratory.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.6.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.10</a>
      
      |
      <a href="../../_sources/source/components/procedures.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>