
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>ScriptBuilder GUI &#8212; AutoProber 2.0 documentation</title>
    
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true,
        SOURCELINK_SUFFIX: '.txt'
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="DataIO" href="DataIO.html" />
    <link rel="prev" title="Plotter" href="plotter.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head>
  <body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="scriptbuilder-gui">
<span id="scriptbuilder-label"></span><h1>ScriptBuilder GUI<a class="headerlink" href="#scriptbuilder-gui" title="Permalink to this headline">¶</a></h1>
<a class="reference internal image-reference" href="../../_images/ScripBuilderGUI.PNG"><img alt="../../_images/ScripBuilderGUI.PNG" class="align-center" src="../../_images/ScripBuilderGUI.PNG" style="width: 788px; height: 610px;" /></a>
<hr class="docutils" />
<dl class="docutils">
<dt>The ScriptBuilder GUI helps constructing measurement scripts in accordance with the ProberControl syntax. The GUI is split into four fields and the menu:</dt>
<dd><ol class="first arabic" start="0">
<li><p class="first">Menu: The menu features two cascades:</p>
<p>0.1 The <code class="docutils literal"><span class="pre">File</span></code> cascade contains the load and save function for scripts.</p>
<p>0.2 The <code class="docutils literal"><span class="pre">Edit</span></code> cascade contains the search and replace functionality for the loaded script.</p>
</li>
<li><p class="first">Add Measurements: This field allows to add measurements with a specified names and the structures at which this measurement should be taken. The function that should be calles can be specified with two drop down menus that use the data found by the <code class="docutils literal"><span class="pre">Maitre</span></code>. The arguments of this function are displayed in the next display field that can be defined in the lower entry field. Finally hitting the AddMeasurements Button writes the corresponding code into the editor at the current place of the <code class="docutils literal"><span class="pre">Cursor</span></code>. This allows to inject measurements at any points in the script or without changing the cursor position to keep adding new measurements.</p>
</li>
</ol>
<blockquote>
<div>2.  The ‘Add Block’ field allows the creation of measurement blocks as mentioned in the scripting description. To do that the block type needs to be specified (wafer, chip, group) and the name of the block (i.e. identifier of this wafer / chip if applicable). If desired a local binning function can be defined for this block making again use of the drop down menus filled with the entries from the <code class="docutils literal"><span class="pre">Maitre</span></code>
If the option <code class="docutils literal"><span class="pre">Copy</span> <span class="pre">Measurements</span> <span class="pre">from</span> <span class="pre">previous</span> <span class="pre">Block</span></code> is selected and the <code class="docutils literal"><span class="pre">AddBlock</span></code> Button is used, the ScriptBuilder will copy all measurements from the previous block into this block while changing all occurrences of the previous block name to the current block name. This is helpful when the same set of tests should be applied to different wafers or chips. Again the <code class="docutils literal"><span class="pre">AddBlock</span></code> Button will insert the new code at the position of the cursor.</div></blockquote>
<ol class="last arabic simple" start="3">
<li>The block ‘Global Settings’ allows to set global binning functions used for all blocks. It also lets the user specify at which group level (wafer, chip, group) files should be written using the <code class="docutils literal"><span class="pre">Group</span> <span class="pre">By</span></code> drop down menu. Hitting the Update Button will always only change the header of the script.</li>
<li>The script is being constructed in the right half of the GUI. The script can be manually adapted directly in the GUI.</li>
</ol>
</dd>
</dl>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/logo.png" alt="Logo"/>
            </a></p><div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../../index.html">Documentation overview</a><ul>
      <li>Previous: <a href="plotter.html" title="previous chapter">Plotter</a></li>
      <li>Next: <a href="DataIO.html" title="next chapter">DataIO</a></li>
  </ul></li>
</ul>
</div>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../_sources/source/components/scriptbuilder.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Go" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2017, Columbia Lightwave Research Laboratory.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.6.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.10</a>
      
      |
      <a href="../../_sources/source/components/scriptbuilder.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>