
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>ScriptController &#8212; AutoProber 2.0 documentation</title>
    
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true,
        SOURCELINK_SUFFIX: '.txt'
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="DataViewer" href="DataViewer.html" />
    <link rel="prev" title="DataIO" href="DataIO.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head>
  <body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="scriptcontroller">
<h1>ScriptController<a class="headerlink" href="#scriptcontroller" title="Permalink to this headline">¶</a></h1>
<p>The <strong>ScriptController</strong> is a piece of the core of the ProberControl Software that is responsible for <code class="docutils literal"><span class="pre">parsing</span></code>, <code class="docutils literal"><span class="pre">scheduling</span></code> and <code class="docutils literal"><span class="pre">running</span></code> the user-defined test recipies (.meas scripts)
The functionality of ScriptController can be summarized in the following points:</p>
<blockquote>
<div><ol class="arabic simple">
<li>Every time a new measuremnt script (or instance of a script) is ran from the GUI, a new instance of the ScriptController is instantiated. This design helps encapsulate the functionalty of the class in a way that allows for easy and straightforward parallelization of the test script execution.</li>
<li>The process of a single <code class="docutils literal"><span class="pre">ScriptController</span></code> can be split into two parts:</li>
</ol>
<blockquote>
<div><ul class="simple">
<li>The <code class="docutils literal"><span class="pre">reading/parsing</span></code> part ( read_script() ). Here the .meas script is read and the different measurements are parsed into structures that allow for the retrieval of the functions we need to execute to make a specific measurement, as well as the user specified parameters. This portion of code also sets label to the measurements, which will later be used to output the results in the correct file.</li>
<li>The <code class="docutils literal"><span class="pre">execution</span></code> part ( execute_script() ). as the name explains this is were the test recipies are actually run. The process will iterate through the test structures parsed in the reading section and for each one, the specified measure function will be executed. After each structures is done, the <em>ScriptController</em> will release the locks on the instruments used within the specified functions (acquired by the <a class="reference external" href="measure_handler.rst">Global_MeasureHandler</a>) before executing the next one. The results of each measurement will also be output as each one finishes to avoid having to redo all the work if a failure occurs mid-test.</li>
</ul>
</div></blockquote>
<ol class="arabic simple" start="3">
<li>The remaining functions in the <code class="docutils literal"><span class="pre">ScriptController</span></code> class are helpers for parsing and executing as well as an internal class used to define the structures for grouping the different measurements.</li>
</ol>
<p>The picture below shows the workflow followed by .meas script until its execution:</p>
</div></blockquote>
<a class="reference internal image-reference" href="../../_images/proceduresWorkflow.png"><img alt="../../_images/proceduresWorkflow.png" class="align-center" src="../../_images/proceduresWorkflow.png" style="width: 1600px; height: 400px;" /></a>
<div class="section" id="data-output-of-scriptcontroller">
<h2>Data Output of ScriptController<a class="headerlink" href="#data-output-of-scriptcontroller" title="Permalink to this headline">¶</a></h2>
<p>Results are saved in the <code class="docutils literal"><span class="pre">config</span></code> folder, as defined in the <code class="docutils literal"><span class="pre">__configurePaths()</span></code> function. Name and subfolders are currently hard coded in the <code class="docutils literal"><span class="pre">execute_script()</span></code> function by the line <code class="docutils literal"><span class="pre">with</span> <span class="pre">self._OutputConfiguration(...)</span> <span class="pre">as</span> <span class="pre">out:</span></code>.</p>
<p>As described in <a class="reference internal" href="../howto/measurementScript.html#measscriptlabel"><span class="std std-ref">Measurement Script HowTo</span></a> the output can be split into different files depending on the grouping in the measurement script. Files are either created on wafer, chip , or group level. File names are then appended by the wafer/chip/group label given in the script.</p>
<p>Decision on where data is saved is taken in the <code class="docutils literal"><span class="pre">_OutputConfiguration</span></code> class. If new features and options need to be implemented they should augment the function set of <code class="docutils literal"><span class="pre">_OutputConfiguration</span></code>.</p>
</div>
<div class="section" id="wafer-and-chip-prober-interaction-scheme-of-scriptcontroller">
<h2>Wafer and Chip Prober Interaction Scheme of ScriptController<a class="headerlink" href="#wafer-and-chip-prober-interaction-scheme-of-scriptcontroller" title="Permalink to this headline">¶</a></h2>
<p>All interactions between the ScriptController and a self contained prober are triggered  in the <code class="docutils literal"><span class="pre">execute_script()</span></code> function. They are on four levels:</p>
<blockquote>
<div><ol class="arabic simple" start="0">
<li><dl class="first docutils">
<dt>Checking Health of the Prober:</dt>
<dd>Before loading the first Device under Test (DUT) the function <code class="docutils literal"><span class="pre">_checkProberState()</span></code> is called. The function relies on the prober driver to implement a <code class="docutils literal"><span class="pre">get_state()</span></code> function and handles according to its return values.</dd>
</dl>
</li>
<li><dl class="first docutils">
<dt>DUT Loading:</dt>
<dd>The ScriptController checks whether a new <code class="docutils literal"><span class="pre">chip-block</span></code> starts. If yes, the ScriptController calls the function <code class="docutils literal"><span class="pre">_loadChip</span></code>, which relies again on the prober driver. The ScriptController only sense chip loading commands, even if the chip is still part of a wafer. The automated prober is assumed to handle loading of chips based on their ID. This means that a chipID is provided to the prober driver and it is assumed that the prober initiates everything necessary to load this device. This might include fetching the location of this device from an external or internal database , checking whether this chipID is in wafer shape or chip shape and reference all future commands to this chipID.</dd>
</dl>
</li>
<li><dl class="first docutils">
<dt>Structure Connections:</dt>
<dd>Every measurement block contains (if used in connection with a wafer or chip prober) a structureID. For every measurement the function <code class="docutils literal"><span class="pre">_structureProcedure()</span></code> is called that calls the driver’s <code class="docutils literal"><span class="pre">connect_structure()</span></code> function. If a fiber switch is used to control light in and output, it is ensured that a the tools light source and sink is connected to the correct fiber.</dd>
</dl>
</li>
<li>DUT Storing:</li>
</ol>
<blockquote>
<div><ol class="loweralpha simple">
<li>binnning:</li>
</ol>
<blockquote>
<div><dl class="docutils">
<dt>If defined in the Measurement Script a binning function is called at the end of blocks of the hierarchically highest group. That means if waver groups are present then at the end of each wafer, if wafers are not present then at the end of each chip block. Binning functions are called in <code class="docutils literal"><span class="pre">_callBinningFunction()</span></code> using the Maitre and can be freely programmed in the procedures folder. Every binning function is supplied with:</dt>
<dd><ol class="first last arabic simple">
<li>The last measurement-details, which include the waferID, chipID, groupID</li>
<li>All file names in which measurement results were saved.</li>
</ol>
</dd>
</dl>
<p>The binning function should return a keyword (e.g. good / bad). The function <code class="docutils literal"><span class="pre">_storeBinningResult()</span></code> saves the result. Wafers are assumed to be placed back into the FOUP either when the next wafer is loaded or at the end of the script. If the DUT is in chip shape <code class="docutils literal"><span class="pre">_storeDie()</span></code> is called.</p>
</div></blockquote>
<ol class="loweralpha simple" start="2">
<li>_storeDie:</li>
</ol>
<blockquote>
<div><code class="docutils literal"><span class="pre">_storeDie(itemID,</span> <span class="pre">binningResult)</span></code> accepts the itemID and binningResult as parameters. The function calls <code class="docutils literal"><span class="pre">_getContainer()</span></code> to make a decision on where to store this die based on the binningResult. Afterwards it makes use of the Prober Driver’s <code class="docutils literal"><span class="pre">store_chip(container)</span></code> to store the chip.</div></blockquote>
</div></blockquote>
</div></blockquote>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/logo.png" alt="Logo"/>
            </a></p>
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">ScriptController</a><ul>
<li><a class="reference internal" href="#data-output-of-scriptcontroller">Data Output of ScriptController</a></li>
<li><a class="reference internal" href="#wafer-and-chip-prober-interaction-scheme-of-scriptcontroller">Wafer and Chip Prober Interaction Scheme of ScriptController</a></li>
</ul>
</li>
</ul>
<div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../../index.html">Documentation overview</a><ul>
      <li>Previous: <a href="DataIO.html" title="previous chapter">DataIO</a></li>
      <li>Next: <a href="DataViewer.html" title="next chapter">DataViewer</a></li>
  </ul></li>
</ul>
</div>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../_sources/source/components/ScriptController.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Go" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2017, Columbia Lightwave Research Laboratory.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.6.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.10</a>
      
      |
      <a href="../../_sources/source/components/ScriptController.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>